/*Variabili*/
:root {
    --blue:#2C3E50;
    --light-blue:#3A546D;
    --green:#1ABC9C;
}

/*Utilities*/
.bg-blue {
    background-color: var(--blue);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-green{
    background-color: var(--green);
}

.img-sized {
    width: 210px; 
}

.star {
    padding: 10px; 
}

.star::after {
    content: ""; 
    width: 100px; 
    height: 2px; 
    background-color: white;
    display: inline-block; 
    margin-left: 8px; 
}

.star::before {
    content: ""; 
    width: 100px; 
    height: 2px; 
    background-color: white;
    display: inline-block; 
    margin-right: 8px;
}

.card-section .star::before, .card-section .star::after, .contact .star::before, .contact .star::after {
    background-color: black;
}

/*Debug*/

.debug .container-lg, .debug .container-lg {
    min-height: 30px; 
    background-color: aquamarine;
    border: 2px solid blue; 
}

.debug .row {
    min-height: 30px; 
    background-color: red;
    border: 2px solid white; 
}

.debug *[class^='col'] {
    min-height: 30px;
    background-color: orange;
    border: 2px solid black;
}

.debug .card {
    background-color: violet;
    min-height: 20px; 
    min-width: 100px;
}